In [16]:
import numpy as np
import pandas as pd 
import igraph as ig
import timeit
from network_tolerance_ig import *

In [17]:
df = pd.read_csv('2022-capitalbikeshare-tripdata_py.csv') 
#Instantiates CreateGraph class from network_tolerance_ig
g = CreateGraph(df=df)

In [18]:
%timeit -n 1 -r 1
# Create two graph objects for each node deletion method
# Node deletion: random failure and targeted attack
G1 = g.create_network(directed=True)
G2 = G1.copy()
print(G1.summary())
print(G2.summary())

IGRAPH DNW- 709 119221 --
+ attr: name (v), name (e), weight (e)
IGRAPH DNW- 709 119221 --
+ attr: name (v), name (e), weight (e)

In [19]:
#Measures to monitor as we delete nodes. Measures MUST BE a list or tuple
measures = ['maxdegree', 'diameter', 'average_path_length']
#Instantiates GraphTolerance class from network_tolerance_ig
tolerance1 = GraphTolerance(G1)
tolerance2 = GraphTolerance(G2)

In [20]:
#Implement 10% random node deletion
#Steps indicate minimum datapoints to be recorded as deleted nodes approach 10%
rf_df_1 = tolerance1.random_fail(f=0.10, steps= 12, 
                         graph_measures=measures)
rf_df_1

           f  f_count  maxdegree  diameter  average_path_length
0   0.007052        5        833         6             2.003544
1   0.014104       10        827         6             2.004617
2   0.021157       15        819         6             2.007659
3   0.028209       20        813         6             2.012686
4   0.035261       25        805         6             2.019871
5   0.042313       30        799         6             2.023379
6   0.049365       35        791         6             2.029355
7   0.056417       40        785         6             2.034117
8   0.063470       45        779         6             2.031847
9   0.070522       50        771         6             2.035363
10  0.077574       55        769         6             2.028517
11  0.084626       60        764         6             2.029266
12  0.091678       65        758         6             2.032132
13  0.098731       70        751         6             2.032505
14  0.100141       71        750         6             2.033578

In [21]:
#Implement targeted attack by deleting the top 10% nodes by degree
#Steps indicate minimum datapoints to be recorded as deleted nodes approach  10%
rf_df_2 = tolerance2.target_attack(f=0.10, steps= 12, 
                         graph_measures=measures)
rf_df_2

           f  f_count  maxdegree  diameter  average_path_length
0   0.007052        5        779         6             2.021507
1   0.014104       10        746         6             2.033237
2   0.021157       15        712         6             2.046262
3   0.028209       20        687         6             2.056472
4   0.035261       25        673         6             2.065353
5   0.042313       30        660         6             2.073984
6   0.049365       35        641         6             2.084105
7   0.056417       40        623         6             2.092226
8   0.063470       45        607         6             2.102033
9   0.070522       50        594         6             2.112673
10  0.077574       55        578         6             2.122387
11  0.084626       60        562         6             2.131459
12  0.091678       65        549         6             2.140272
13  0.098731       70        534         6             2.148701
14  0.100141       71        531         6             2.150558

In [22]:
print(G1.summary())
print(G2.summary())

IGRAPH DNW- 638 94574 --
+ attr: name (v), name (e), weight (e)
IGRAPH DNW- 638 73168 --
+ attr: name (v), name (e), weight (e)

In [23]:
G2.is_connected()

False